@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Carrying On</h1>
    <p>Welcome to my blog. This blog is for people going through difficult things that need a support system.</p>
</div>
